.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--light-1);
  box-shadow: var(--shadow);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: var(--trans);
  z-index: 99;
}
.side-nav::-webkit-scrollbar {
  display: none;
}
.side-nav .brand {
  text-align: center;
  font-size: 1.5em;
  position: fixed;
  background: var(--light-1);
  width: 230px;
  padding: 8px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.side-nav .brand .toggler {
  /* display: none; */
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 25px;
  transition: 2s all;
}
.side-nav .brand .toggler.show {
  opacity: 1;
}
.side-nav .side-menu {
  margin-top: 80px;
}
.side-nav .side-menu li {
  list-style: none;
  cursor: pointer;
}
.side-nav .side-menu li a {
  text-decoration: none;
  color: var(--dark-3);
  transition: var(--trans);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  font-weight: 500;
}
.side-nav .side-menu li a div i {
  margin-right: 10px;
}
.side-nav .side-menu li a .right-icon {
  transition: var(--trans);
}
.side-nav .side-menu li a:hover .right-icon {
  transform: rotate(180deg);
}
.side-nav .side-menu li a:hover,
.side-nav .side-menu li a.active {
  color: var(--main-clr);
}
.side-nav .side-menu .indicate-section {
  padding-left: 10px;
  font-size: 0.9rem;
  color: #a39f9f;
  margin-top: 10px;
}
.side-nav .bottom-box {
  text-align: center;
  margin: auto;
  padding: 30px 0;
}
.side-nav .bottom-box button {
  padding: 10px 35px;
}
.side-nav .bottom-box button i {
  margin-left: 10px;
}

.side-nav .side-nav-dropdown {
  /* height: 0; */
  display: none;
  overflow: hidden;
  transition: var(--trans);
}
.side-nav .side-menu .side-nav-dropdown-parent:hover .side-nav-dropdown {
  /* height: 100%; */
  display: block;
}
.side-nav .side-nav-dropdown li a {
  padding: 10px 20px 10px 30px !important;
  display: inline-flex;
}

/* Responsive */
@media screen and (max-width: 800px) {
  .side-nav {
    left: -250px;
    box-shadow: none;
  }
  .side-nav.active {
    left: 0 !important;
  }
}
