@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::selection {
  background: rgb(248, 148, 65);
  color: #fff;
}
body {
  /* background: #202020; */
  background: rgb(5, 1, 64);
  background: linear-gradient(
    90deg,
    rgba(5, 1, 64, 1) 0%,
    rgba(3, 102, 130, 1) 48%,
    rgba(5, 1, 64, 1) 100%
  );
}
#map {
  height: 100vh;
  width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.location-box {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.location-box .display {
  width: 100%;
  min-height: 160px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 10px;
  /* text-align: center; */
  color: #000;
}
.location-box .display h1 {
  margin-bottom: 20px;
  text-align: center;
}
.location-box .display .show-co-ordinates {
  font-size: 1.3rem;
  line-height: 2rem;
}
.location-box .display .show-co-ordinates span {
  padding-left: 20px;
}
.location-box .location-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 1px 1px 10px #000;
  padding: 10px 30px;
  border-radius: 10px;
}

@media screen and (max-width: 550px) {
  .location-box {
    width: 300px;
  }
  .location-box .display .show-co-ordinates {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .location-box {
    width: 200px;
  }
  .location-box .display {
    min-height: 100px;
  }
  .location-box .display h1 {
    font-size: 1.2rem;
  }
  .location-box .display .show-co-ordinates {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .location-box .location-link {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 225px) {
  .location-box {
    width: 150px;
  }
  .location-box .display h1 {
    font-size: 1rem;
  }
  .location-box .display .show-co-ordinates {
    font-size: 0.6rem;
    line-height: 1.1rem;
  }
  .location-box .location-link {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
}
