:root {
  --light-1: #fff;
  --light-2: #f5f4f4;
  --light-3: #d6d4d4;

  --dark-1: #1f1e1e;
  --dark-2: #2c2b2b;
  --dark-3: #616161;

  /* --main-clr: #fa8d26; */
  --main-clr: #3b5998;
  --orange: #fcae05;
  /* --blue: #3b5998; */
  --light-blue: rgb(194 205 241);
  --red: rgb(253, 16, 16);
  /* --header-color: #060144; */
  --btn-color: #c44201;
  --btn-hover-color: #a13601;
  --dropdown-box-clr: #dfdbdb;

  --trans: 0.3s all ease;
  --shadow: 3px 3px 10px var(--light-3);
  --cardShadow: 2px 2px 5px var(--light-2), -2px -2px 5px var(--light-2);
  --border: 1px solid var(--dark-3);
  --boxGradient: linear-gradient(-35deg, #52026a, #d00686);
  --btnGradient: linear-gradient(-10deg, #52026a, #d00686);
}

/* @media (prefers-color-scheme: dark) {} */
